.filterGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.filterGrid select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.playlistButton {
  background-color: #ff0000;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}

.genreCell {
  font-size: 11px;
  color: #666;
  white-space: pre-wrap;
}